In [22]:
import pandas as pd
df = pd.read_csv('EPL Regular Season Stats 2011-2023.csv', encoding='latin1', index_col=None)
display(df)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Year
0,1,Manchester City,38,28,5,5,93,29,64,89,2.34,NaN,NaN,NaN,NaN,"47,045",Sergio Agüero - 23,Joe Hart,? Champions League via league finish,2011-2012
1,2,Manchester Utd,38,28,5,5,89,33,56,89,2.34,NaN,NaN,NaN,NaN,"75,387",Wayne Rooney - 27,David de Gea,? Champions League via league finish,NaN
2,3,Arsenal,38,21,7,10,74,49,25,70,1.84,NaN,NaN,NaN,NaN,"60,000",Robin van Persie - 30,Wojciech Szczesny,? Champions League via league finish,NaN
3,4,Tottenham,38,20,9,9,66,41,25,69,1.82,NaN,NaN,NaN,NaN,"36,036",Emmanuel Adebayor - 17,Brad Friedel,? Europa League via league finish,NaN
4,5,Newcastle Utd,38,19,8,11,56,51,5,65,1.71,NaN,NaN,NaN,NaN,"49,951",Demba Ba - 16,Tim Krul,? Europa League via league finish,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,16,Nott'ham Forest,38,9,11,18,38,68,-30,38,1.00,39.3,64.2,-24.9,-0.66,"29,188",Taiwo Awoniyi - 10,Dean Henderson,NaN,NaN
236,17,Everton,38,8,12,18,34,57,-23,36,0.95,45.2,65.7,-20.5,-0.54,"39,243",Dwight McNeil - 7,Jordan Pickford,NaN,NaN
237,18,Leicester City,38,9,7,22,51,68,-17,34,0.89,50.6,63.4,-12.8,-0.34,"31,887",Harvey Barnes - 13,Danny Ward,Relegated,NaN
238,19,Leeds United,38,7,10,21,48,78,-30,31,0.82,47.4,67.2,-19.8,-0.52,"36,566",Rodrigo - 13,Illan Meslier,Relegated,NaN
239,20,Southampton,38,6,7,25,36,73,-37,25,0.66,37.7,61.0,-23.3,-0.61,"30,440",James Ward-Prowse - 9,Gavin Bazunu,Relegated,NaN

In [23]:
# Get the number of rows and columns
# Format df.shape(x,y)
num_rows, num_cols = df.shape
print(f"The dataset has {num_rows} rows and {num_cols} columns.")

The dataset has 240 rows and 20 columns.

In [24]:
# Get the data types of each column
data_types = df.dtypes
print("Data types:")
display(data_types)

Data types:

Rk                   int64
Squad               object
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/MP             float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Attendance          object
Top Team Scorer     object
Goalkeeper          object
Notes               object
Year                object
dtype: object

In [25]:
# Check for missing values
missing_values = df.isnull().sum()
print(f"Missing values:\n{missing_values}")

Missing values:
Rk                   0
Squad                0
MP                   0
W                    0
D                    0
L                    0
GF                   0
GA                   0
GD                   0
Pts                  0
Pts/MP               0
xG                 120
xGA                120
xGD                120
xGD/90             120
Attendance           0
Top Team Scorer      0
Goalkeeper           0
Notes              120
Year               228
dtype: int64

In [26]:
# Get a summary of the dataset
summary = df.describe()
print(f"Summary:\n{summary}")

Summary:
               Rk     MP           W           D           L          GF  \
count  240.000000  240.0  240.000000  240.000000  240.000000  240.000000
mean    10.500000   38.0   14.487500    9.025000   14.487500   52.287500
std      5.778332    0.0    6.272729    2.924324    5.771073   17.343823
min      1.000000   38.0    3.000000    2.000000    1.000000   20.000000
25%      5.750000   38.0   10.000000    7.000000   10.000000   40.000000
50%     10.500000   38.0   13.000000    9.000000   15.000000   48.000000
75%     15.250000   38.0   19.000000   11.000000   19.000000   63.000000
max     20.000000   38.0   32.000000   17.000000   29.000000  106.000000

               GA          GD         Pts      Pts/MP          xG         xGA  \
count  240.000000  240.000000  240.000000  240.000000  120.000000  120.000000
mean    52.287500    0.000000   52.487500    1.381292   50.744167   50.745833
std     12.973607   27.696502   17.857638    0.469627   13.412166   10.675889
min     22.000000  -61.000000   16.000000    0.420000   28.800000   23.800000
25%     43.000000  -20.000000   40.000000    1.050000   40.375000   44.825000
50%     52.000000   -6.500000   47.000000    1.240000   47.850000   51.150000
75%     61.000000   19.000000   65.250000    1.717500   56.875000   58.375000
max     85.000000   79.000000  100.000000    2.630000   92.000000   75.500000

              xGD      xGD/90
count  120.000000  120.000000
mean    -0.003333   -0.000250
std     22.448305    0.591047
min    -43.200000   -1.140000
25%    -17.425000   -0.460000
50%     -4.200000   -0.110000
75%     14.925000    0.392500
max     64.000000    1.680000