In [1]:
import pandas as pd

df = pd.read_csv('EPL Regular Season Stats 2011-2023.csv', encoding='latin1', index_col=None)

display(df)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Year
0,1,Manchester City,38,28,5,5,93,29,64,89,2.34,NaN,NaN,NaN,NaN,"47,045",Sergio Agüero - 23,Joe Hart,? Champions League via league finish,2011-2012
1,2,Manchester Utd,38,28,5,5,89,33,56,89,2.34,NaN,NaN,NaN,NaN,"75,387",Wayne Rooney - 27,David de Gea,? Champions League via league finish,NaN
2,3,Arsenal,38,21,7,10,74,49,25,70,1.84,NaN,NaN,NaN,NaN,"60,000",Robin van Persie - 30,Wojciech Szczesny,? Champions League via league finish,NaN
3,4,Tottenham,38,20,9,9,66,41,25,69,1.82,NaN,NaN,NaN,NaN,"36,036",Emmanuel Adebayor - 17,Brad Friedel,? Europa League via league finish,NaN
4,5,Newcastle Utd,38,19,8,11,56,51,5,65,1.71,NaN,NaN,NaN,NaN,"49,951",Demba Ba - 16,Tim Krul,? Europa League via league finish,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,16,Nott'ham Forest,38,9,11,18,38,68,-30,38,1.00,39.3,64.2,-24.9,-0.66,"29,188",Taiwo Awoniyi - 10,Dean Henderson,NaN,NaN
236,17,Everton,38,8,12,18,34,57,-23,36,0.95,45.2,65.7,-20.5,-0.54,"39,243",Dwight McNeil - 7,Jordan Pickford,NaN,NaN
237,18,Leicester City,38,9,7,22,51,68,-17,34,0.89,50.6,63.4,-12.8,-0.34,"31,887",Harvey Barnes - 13,Danny Ward,Relegated,NaN
238,19,Leeds United,38,7,10,21,48,78,-30,31,0.82,47.4,67.2,-19.8,-0.52,"36,566",Rodrigo - 13,Illan Meslier,Relegated,NaN
239,20,Southampton,38,6,7,25,36,73,-37,25,0.66,37.7,61.0,-23.3,-0.61,"30,440",James Ward-Prowse - 9,Gavin Bazunu,Relegated,NaN